@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Fuzzy+Bubbles&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link a {
    text-decoration: none;
    color: #FFFFFF;
    background: #3721a6;
    border: 2px solid #d10015;
    padding: 15px 30px;
    display: inline-block;
    text-align: center;

}

.link a:first-of-type {
    margin-right: 50px;
}

.link a:last-of-type {
    margin-left: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    max-width: 100%;
}




body {
    font-size: 15px;
}

.main-container {
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 10px;
    transform: translate(-50%, -50%);
}

.box-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    color: white;
}

.box {
    width: 25%;
    height: 400px;
}

.box-content {
    padding-top: 20%;
    padding-left: 10%;
}

h2 {
    font-family: 'Fuzzy Bubbles', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Fuzzy Bubbles', sans-serif;
    font-weight: 400;
}

.box-content img, h2, p {
    margin-bottom: 10%;
}


.box-content button {
    outline: none;
    border: none;
    margin-top: 10%;
    border-radius: 30px;
    width: 120px;
    padding: 15px;
}

.box-content button:hover {
    background: none;
    border: 2px solid white;
    color: white;
}

.box p {
    max-width: 180px;
}

.box1 {
    background-color: hsl(31, 77%, 52%);
}

.box2 {
    background-color: hsl(184, 100%, 22%);
}

.box3 {
    background-color: hsl(179, 100%, 13%)
}